<table class="table-bordered table-stripped text-wrap">
    <thead>
        <tr class="align-middle text-center small">
            <th role="button" (click)="sortData('firstname')">Firstname</th>
            <th role="button" (click)="sortData('lastname')">Lastname</th>
            <th role="button" (click)="sortData('email')">Email</th>
        </tr>
    </thead>
    <tbody>
        @for (row of data; track row){
            <tr class="align-middle" (dblclick)="onPersonClicked(row)">
                <td>{{row.firstname}}</td>
                <td>{{row.lastname}}</td>
                <td>{{row.email}}</td>
            </tr>
        }
    </tbody>
</table>