<!-- <h1>STEP 3 Person Table</h1> -->
<!-- <table class="table table-bordered w-50">
    <tr>
        <td class="fw-semibold">Firstname</td>
        <td>{{person!.firstname}}</td>
    </tr>
    <tr>
        <td class="fw-semibold">Lastname</td>
        <td>{{person!.lastname}}</td>
    </tr>
    <tr>
        <td class="fw-semibold">Email</td>
        <td>{{person!.email}}</td>
    </tr>
</table> -->

@if(!person){
    <div class="alert alert-danger text-center">No Person Details</div>
}
    @else {
    <table class="table table-bordered w-50">
        <tr>
            <td class="fw-semibold">Firstname</td>
            <td>{{person.firstname}}</td>
        </tr>
        <tr>
            <td class="fw-semibold">Lastname</td>
            <td>{{person.lastname}}</td>
        </tr>
        <tr>
            <td class="fw-semibold">Email</td>
            <td>{{person.email}}</td>
        </tr>
    </table>
}


